/node_modules
/public/hot
/public/database_backup
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/installed
# IDEs and editors
/.idea
vendor